// color
$colorBlack: black;
$colorWhite: white;
$colorRed: red;
$colorGreen: green;
$colorBlue: blue;
$colorPurple: purple;
$colorHeaderBorder: #EBEBEB;

// color block-header
$colorblockRed: red;
$colorblockGreen: green;
$colorblockBlue: blue;
$colorblockPurple: purple;
