// color
$colorBlack: black;
$colorWhite: white;
$colorRed: red;
$colorGreen: green;
$colorBlue: blue;
$colorPurple: purple;
$colorHeaderBorder: #EBEBEB;
$colorBorderButton: rgba(34, 34, 34, 0.3);

// color block-header
$colorblockRed: red;
$colorblockGreen: green;
$colorblockBlue: blue;
$colorblockPurple: purple;
