.main__section{
  text-align: center;
  margin-top: 64px;
  z-index: 5;
}
.main__title {
  font-size: 64px;
  line-height: 112%;
  span{

  }

}
._button{
  padding: 10px 48px;
  line-height: 142%;
  font-weight: 800;
  background-color: $colorWhite;
  border: 1px solid $colorBorderButton;
}
.main__button {
  margin-top: 48px;

}
