@import 'color';

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Rubik:wght@400;500&display=swap');
body{
  max-width: 1440px;
  height: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 142% ;
  font-family: Montserrat ;
  margin: 0 auto;
  box-sizing: border-box

}
/* container */
@import 'container';

/* header */
@import 'header';
